@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Varela+Round&display=swap');


.formAddA{
    margin-left: 19%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 70%;
    font-family: "Open Sans", sans-serif;
}

.divsform input::placeholder{
    color: rgba(43, 76, 242, 0.5);
}